<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>操作結果</title>
</head>
<body>
	<h1 th:text="${message}">メッセージ</h1>
	<!-- 書籍一覧表示の場合 -->
	<table th:if="${books}" border="1">
		<thead>
			<tr>
				<th>ID</th>
				<th>タイトル</th>
				<th>著者</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="book : ${books}">
				<td th:text="${book.id}">ID</td>
				<td th:text="${book.title}">タイトル</td>
				<td th:text="${book.author}">著者</td>
			</tr>
		</tbody>
	</table>
	<a th:href="@{/}">メニューに戻る</a>
</body>
</html>